<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--导入css-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<!--    <script type="text/javascript" src="js/jquery-1.12.4.min.js" ></script>-->
    <!--导入css.js -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js" ></script>
    <!--Bootstrap 是移动设备优先的-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
</body>
</html>